.basic-products {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.basic-products__list {
  @include list-no-decor;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 63px;
  }
}
