.body {
  margin: 0;
  position: relative;
}

.body__desktop-background {
  @media (min-width: $desktop-width) {
    position: absolute;
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../../img/index-background-desktop.jpg");
    background-repeat: no-repeat;
    background-position: top rigth;
    background-size: 100% auto, cover;
    width: 50%;
    height: 694px;
    top: 0;
    right: 0;
  }
}
