.button {
  background-color: $basic-green;
  font-family: "Oswald Regular", "Arial Narrow", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;
  outline: none;
}

.button:hover,
.button:focus {
  background-color: $basic-green-2;
}

.button:active {
  background-color: $basic-green-2;
  color: rgba(255, 255, 255, 0.3);
}

.button--show-more {
  background-color: $basic-gray;
  color: $special-dark-gray;
}

.button--show-more:hover,
.button--show-more:focus {
  background-color: $darker-light-gray;
}

.button--show-more:active {
  background-color: $darker-light-gray;
  color: rgba(68, 68, 68, 0.3);
}
