.button {
  background-color: $basic-green;
  font-family: "Oswald Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;
}

.button--show-more {
  background-color: $basic-gray;
  color: $special-dark-gray;
}
