.comment-text {
  font-family: "Oswald Regular", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-gray;
  width: 100%;
  min-height: 150px;
  box-sizing: border-box;
  padding-top: 9px;
  padding-left: 14px;
  border: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    min-height: 174px;
    font-size: 20px;
    line-height: 30px;
  }
}

.comment-text::placeholder {
  color: $special-dark-gray;
}

.comment-text:hover {
  border-color: #cdcdcd;
}

.comment-text:focus {
  border: 2px solid $special-dark-gray;
  outline: none;
}

.comment-text:invalid {
  border: 2px solid #ff8582;
  outline: none;
}
