.comment-text {
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-gray;
  width: 280px;
  min-height: 150px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 630px;
    min-height: 174px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.comment-text::placeholder {
  color: $special-dark-gray;
}
