.contacts__welcome {
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $almost-black;
}

.contacts__address {
  color: $special-dark-gray;
}
