.extra-products__header {
  display: flex;
  flex-wrap: no-wrap;
  padding-top: 25px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 34px;
  }
}

.extra-products__before-line {
  display: none;

  @media (min-width: $tablet-width) {
    content: "";
    height: 2px;
    width: calc((100% - 630px) / 2 - 39px);
    background-color: $basic-green;
    margin-top: 22px;
    margin-right: 37px;
    display: block;
    flex-shrink: 0;
  }

  @media (min-width: $desktop-width) {
    width: calc((100% - 1220px) / 2 - 39px);
    margin-top: 22px;
    margin-right: 39px;
  }
}

.extra-products__title {
  font-family: "Oswald Regular", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  display: block;
  flex-shrink: 0;

  @media (max-width: $mobile-only) {
    margin-left: calc((100% - 280px) / 2);
    max-width: 280px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    max-width: 630px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding-top: 0;
  }
}

.extra-products__after-line {
  content: "";
  height: 2px;
  background-color: $basic-green;
  width: 100%;
  margin-top: 15px;
  margin-left: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
    margin-left: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 22px;
  }
}

.extra-products__content {
  @media (min-width: $desktop-width) {
    @include center;
    display: grid;
    grid-template-columns: 896px 245px;
    grid-column-gap: 79px;
  }
}

.extra-products__list {
  @include list-no-decor;
  margin-bottom: 40px;

  @media (max-width: $mobile-only) {
    @include center;
  }

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    border: solid 1px $basic-gray;
    margin-bottom: 67px;

    @include center;
  }
}

.extra-products__list-item {
  position: relative;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.extra-products__list-item::before {
  @media (max-width: $mobile-only) {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $light-gray;
    position: absolute;
    top: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $light-gray;
    position: absolute;
    top: 0;
  }
}

.extra-products__list-item:last-child::after {
  @media (max-width: $mobile-only) {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $light-gray;
    position: absolute;
    bottom: 0;
  }
}

.extra-products__list-item::after {
  @media (min-width: $tablet-width) {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $light-gray;
    position: absolute;
    bottom: 0;
  }
}

.extra-products__gift-promo {
  @include center;
}
