.fb__link {
  text-decoration: none;
  width: 22px;
  height: 22px;

  @media (min-width: $tablet-width) {
    width: 28px;
    height: 33px;
  }
}

.fb__icon {
  width: 22px;
  height: 22px;
  stroke: $dark-gray;
  fill: none;

  @media (min-width: $tablet-width) {
    width: 28px;
    height: 33px;
  }
}

.fb__link:hover .fb__icon,
.fb__link:focus .fb__icon {
  stroke: $basic-green;
}

.fb__link:active .fb__icon {
  stroke: $basic-green;
  opacity: 0.3;
}
