.footer-bottom {
  color: $special-dark-gray;
  font-size: 16px;
  line-height: 18px;
  background-color: $basic-gray;
}

.footer-bottom__wrapper {
  @include center;
}

.footer-bottom__academy-link {
  text-decoration: none;
  color: $special-dark-gray;
}
