.gift-promo {
  background-color: $basic-green;
  color: $white;
  font-size: 16px;
  line-height: 20px;
  width: 280px;
  height: 289px;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 289px;
  }
}

.gift-promo__text {
  width: 165px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 186px;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-left: 423px;
    padding-top: 71px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 185px;
  }
}
