.instruction__wrapper {
  @include center;
}

.instruction__list {
  @include list-no-decor;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.instruction__list-item {
  color: $special-dark-gray;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
