.instagram__link {
  text-decoration: none;
  width: 16px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.instagram__icon {
  width: 16px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
    padding-left: 5px;
  }
}

.instagram__link:hover path,
.instagram__link:focus path {
  fill: $basic-green;
}

.instagram__link:active path {
  fill: $basic-green;
  opacity: 0.3;
}
