.instagram__link {
  text-decoration: none;
  width: 16px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.instagram__icon {
  width: 16px;
  height: 16px;
  fill: $dark-gray;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
    padding-left: 5px;
  }
}

.instagram__link:hover .instagram__icon,
.instagram__link:focus .instagram__icon {
  fill: $basic-green;
}

.instagram__link:active .instagram__icon {
  fill: $basic-green;
  opacity: 0.3;
}
