.main-catalog {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.main-catalog__title {
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
