.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  top: -33px;
  right: 20px;
  border: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 1px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--closed .main-nav__toggle {
  top: -45px;
  right: 20px;

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    right: -2px;
    width: 24px;
    height: 1px;
    background-color: $black;
    box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
  }
}

.main-nav__wrapper {

  display: none;

  @media (max-width: $mobile-only) {
    text-align: center;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-nav--opened .main-nav__wrapper {
  display: block;
}

.main-nav__list {
  @include list-no-decor;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    justify-content: flex-end;
    margin-top: 9px;
  }

  @media (min-width: $desktop-width) {
    max-width: 590px;
    margin-top: 10px;
  }
}

.main-nav__list-item {
  font-family: "Oswald Medium", "Arial Narrow", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  color: $black;
  position: relative;

  @media (min-width: $tablet-width) {
    font-family: "Oswald Regular", "Arial Narrow", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-left: 35px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: auto;
  }
}

.main-nav__list-item:first-child {
  margin-left: 0;
}

.main-nav__list-item:nth-child(3) {
  @media (min-width: $tablet-width) {
    margin-left: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 34px;
  }
}

.main-nav__list-item--on::after {
  @media (min-width: $tablet-width) {
    content: "";
    width: 100%;
    height: 2px;
    background-color: $basic-green;
    position: absolute;
    bottom: 0;
  }
}

.main-nav__list-item a {
  color: inherit;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 22px;
  display: block;

  @media (min-width: $tablet-width) {
    padding-bottom: 7px;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 10px;
  }
}

.body--index .main-nav__list-item {
  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.body--index .main-nav__list-item::after {
  @media (min-width: $desktop-width) {
    background-color: $white;
  }
}

.main-nav__list-item::before {
  @media (max-width: $mobile-only) {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    position: absolute;
    top: 0;
  }
}

.main-nav__list-item:hover:not(.main-nav__list-item--on) {
  color: rgba(0, 0, 0, 0.6);
}

.body--index .main-nav__list-item:hover:not(.main-nav__list-item--on) {
  @media (min-width: $desktop-width) {
    color: rgba(255, 255, 255, 0.3);
  }
}

.main-nav__list-item:active:not(.main-nav__list-item--on) {
  color: rgba(0, 0, 0, 0.3);
}

.body--index .main-nav__list-item:active:not(.main-nav__list-item--on) {
  @media (min-width: $desktop-width) {
    color: rgba(255, 255, 255, 0.3);
  }
}
