.main-form {
  font-family: "Oswald Regular", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.main-form__wrapper {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
  }
}

.main-form__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  margin-bottom: 37px;

  @include center;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;

    @include form-center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;

    @include center;
  }
}

.main-form__subtitle {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 230px;
  margin-bottom: 39px;

  @media (max-width: $mobile-only) {
    @include center;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 330px;
    margin-bottom: 66px;
    margin-left: calc((100% - 630px) / 2);
  }

  @media (min-width: $desktop-width) {
    margin-left: calc((100% - 1220px) / 2);
  }
}

.main-form__program-form {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 82px;
  }
}
