.page-header {
  @include red-outline;
  min-height: 66px;

  @media (min-width: $tablet-width) {
    min-height: 120px;
  }
}

.page-header__wrapper {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include green-outline;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    width: 738px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.page-header__logo {
  @include blue-outline;
}

.page-header__logo-icon {
  @include green-outline;
}

.page-header__logo-text {
  @include green-outline;
}
