.page-header {
  min-height: 66px;

  @media (min-width: $tablet-width) {
    min-height: 120px;
  }
}

.page-header__wrapper {
  /*@include center;*/
  width: 100%;
  padding-top: 13px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    @include center;
    padding-top: 24px;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.page-header__logo {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  margin-bottom: 11px;
  justify-content: space-between;

  @media (max-width: $mobile-only) {
    margin-left: 20px;
    width: calc((100% - 198px) * 0.5 + 127px);
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.page-header__logo:hover {
  opacity: 0.8;
}

.page-header__logo:active {
  opacity: 0.6;
}

.page-header__logo-icon {
  width: 34px;
  height: 37px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.page-header__logo-text {
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
