.page-header {
  min-height: 66px;

  @media (min-width: $tablet-width) {
    min-height: 120px;
  }
}

.page-header__wrapper {
  @include center;
  padding-top: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    flex-wrap: nowrap;
  }
}

.page-header__logo {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
}
