.program-type {
  text-transform: uppercase;
  color: $special-dark-gray;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 569px;
    border: 1px solid $border-light-gray;
  }
}

.program-type__list {
  @include list-no-decor;

  @media (max-width: $mobile-only) {
    @include center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 25px;
    padding-left: 28px;
  }
}

.program-type__list-item {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }
}

.program-type__list-item:last-child {
  margin-bottom: 0;
}
