.promo {
  background-color: $basic-green;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  color: $white;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.promo__wrapper {
  @include center;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $black;
  }
}

.promo__subtitle {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $black;
  }
}
