.show-more__prompt {
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $almost-black;
}

.show-more__description {
  color: $special-dark-gray;
}
