.text-form {
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-gray;
  display: flex;
  margin-bottom: 13px;
  height: 45px;
  vertical-align: middle;

  @media (min-width: $tablet-width) {
    min-height: 52px;
    font-size: 20px;
    line-height: auto;
    margin-bottom: 20px;
  }
}

.text-form:last-child {
  margin-bottom: 0;
}

.text-form__input {
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  margin-left: 14px;
  padding-left: 14px;
  border: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: auto;
    padding-left: 18px;
  }
}

.text-form__input:hover {
  border-color: #cdcdcd;
}

.text-form__input:focus {
  border: 2px solid $special-dark-gray;
  outline: none;
}

.text-form__input:invalid {
  border: 2px solid #ff8582;
  outline: none;
}

.text-form__label {

  padding-top: 14px;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    padding-top: 17px;
    margin-right: 3px;
  }
}

.text-form__input::placeholder {
  color: $special-dark-gray;
}
