.text-form {
  font-family: "Oswald Regular", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-gray;
  display: flex;
  margin-bottom: 13px;
  height: 45px;
  vertical-align: middle;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 52px;
    font-size: 20px;
    line-height: auto;
    margin-bottom: 20px;
  }
}

.text-form:last-child {
  margin-bottom: 0;
}

.text-form__input[type="number"]::-webkit-outer-spin-button,
.text-form__input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.text-form__input[type="number"] {
  appearance: textfield;
}

.text-form__input[type="number"]:hover,
.text-form__input[type="number"]:focus {
  appearance: number-input;
}

.text-form__input {
  font-family: "Oswald Regular", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  margin-left: 14px;
  padding-left: 14px;
  border: 1px solid $border-light-gray;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: auto;
    padding-left: 18px;
  }
}

.text-form__input:hover {
  border-color: $special-gray;
}

.text-form__input:focus {
  border: 2px solid $special-dark-gray;
  outline: none;
}

.text-form__input:invalid {
  border: 2px solid $error-red;
  outline: none;
}

.text-form__label {

  padding-top: 14px;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    padding-top: 17px;
    margin-right: 3px;
  }
}

.text-form__input::placeholder {
  color: $special-dark-gray;
}

.text-form__mail-icon {
  fill: none;
  position: absolute;
  top: 19px;
  right: 15px;
  stroke: $special-dark-gray-2;

  @media (min-width: $tablet-width) {
    top: 18px;
    right: 19px;
  }

  @media (min-width: $desktop-width) {
    right: 18px;
  }
}

.text-form__input:disabled {
  background-color: transparent;
  border: 2px solid $special-dark-gray;
}

.text-form__input:disabled + .text-form__mail-icon {
  stroke: $basic-green;
}

.text-form__input:invalid + .text-form__mail-icon {
  stroke: $error-red;
}

.text-form__phone-icon {
  position: absolute;
  top: 14px;
  right: 13px;
  fill: $black;

  @media (min-width: $tablet-width) {
    top: 15px;
    right: 19px;
  }

  @media (min-width: $desktop-width) {
    right: 17px;
  }
}

.text-form__input:disabled + .text-form__phone-icon {
  fill: $basic-green;
}

.text-form__input:invalid + .text-form__phone-icon {
  fill: $error-red;
}
