.vk__link {
  text-decoration: none;
  width: 23px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.vk__icon {
  width: 23px;
  height: 16px;
  fill: $dark-gray;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.vk__link:hover .vk__icon,
.vk__link:focus .vk__icon {
  fill: $basic-green;
}

.vk__link:active .vk__icon {
  fill: $basic-green;
  opacity: 0.3;
}
