
.weight-loss-slider__list {
  @include list-no-decor;
}

.weight-loss-slider__status {
  text-transform: uppercase;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
