
.weight-loss-slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.weight-loss-slider__status {
  text-transform: uppercase;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
