@mixin fieldset-no-decor {
  border: none;
  margin: 0;
  padding: 0;
}

@mixin list-no-decor {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin red-outline {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}

@mixin green-outline {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}

@mixin blue-outline {
  outline: 5px solid rgba(0, 0, 255, 0.8);
  outline-offset: -5px;
}

@mixin center {
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

@mixin form-center {
  @media (min-width: $tablet-width) {
    width: 630px;
    margin-left: auto;
    margin-right: auto;
  }
}
