$black: #000000;
$almost-black: #111111;
$white: #ffffff;
$basic-gray: #f2f2f2;
$lighter-gray: #eaeaea;
$light-gray: #e6e6e6;
$gray: #d9d9d9;
$special-gray: #cdcdcd;
$special-dark-gray: #444444;
$basic-green: #68b738;
$basic-green-2: #5eaa2f;
